
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html {
  font-family: 'Fira Sans';
  font-size: 18px;
  line-height: 1.4;
}

body {
  background: #f5f5f5;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  user-select: none;
  overflow: hidden;
}

/* Use single-direction margins. */
h1, h2, h3, h4, h5, h6, p, ol, ul, dl, pre {
  margin-top: 0;
}

section {
  padding: 1em;

  & :last-child {
    margin-bottom: 0;
  }

  &.unpadded {
    padding-top: 0;
    padding-bottom: 0;
  }
}

label {
  font-size: smaller;
}

input {
  font-family: inherit;
  box-sizing: border-box;
  padding: 0.5rem 0.8rem;
  border: 1px solid #999;
  display: block;
  box-sizing: border-box;
  width: 100%;
}


/* Hide the placeholder text when an input is focused. */
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */
