@import './normalize.css';
@import './base.css';
@import '../assets/fonts/Fira-4.202/fira.css';
@import './pages.css';
@import './maps.css';

:root {
    --selection-background: #49c;
    --selection-foreground: #fff;
    --color: #424f59;
}

.button {
  display: block;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  background: var(--selection-background);
  border: 0px none;
  color: white;
  padding: 1rem 1rem;
  margin-bottom: 1em;
  border-radius: 6px;
  cursor: pointer;
  &.small {
    padding: 0.5rem 1rem;
  }
  &.secondary {
    border: 1px solid var(--selection-background);
    background: none;
    color: var(--selection-background);
  }
  &[disabled] {
    pointer-events: none;
    opacity: 0.5;
    box-shadow: none;
  }
  &:active {
    background: #27a;
  }
}

.instruction {
  text-align: center;
  font-weight: 300;
}

.detail {
  font-size: smaller;
  color: #666;
}

.TutorialImage {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  & img {
    display: block;
    max-height: 30vh;
  }
}

ul.list {
  list-style: none;
  padding-left: 0;
  border: 1px solid #999;
  overflow-y: scroll;
  background: white;
  & li {
    border-bottom: 1px solid #eee;
    padding: 0.5em 1em;

    &.checked {
      color: var(--selection-foreground);
      background-color: var(--selection-background);
    }

    &:active {
      color: var(--selection-foreground);
      background-color: var(--selection-background);
    }
  }
}


.modal-popup {
  position: absolute;
  margin: auto;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
  padding: 3rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.manual-direction-entry {
}

.wifi-password-lock-icon {
  float: right;
  width: 1em;
  height: 1.4em;
}


/*  Initializing,
  Disabled,
  Idle,
  Scanning,
  Connecting,
  Connected,
  Disconnecting */

.bluetoothStatus {
  font-size: 10px;
  padding: 2px;
  color: white;
  background: #444;
  text-align: center;
}

.bluetoothStatus.Connected {
  background: #060;
}