:root {

}

input {
  font-family: inherit;
  box-sizing: border-box;
}

.button {
  text-align: center;
  background: #49c;
  border: 0px none; /*1px solid var(--button-border);*/
  color: white;
  padding: 1rem 1rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.button:not(.secondary):active {
  background: #27a;
}

.button.secondary {
  background: #eee;
  border: 1px solid #aaa;
  color: #222;
}

input {
  font-size: 20px;
  padding: 0.3rem;
}

@media (max-width: 480px) {
  .button, input {
    display: block;
  }
}

/*@keyframes fade-halfway {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}*/

.Page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.page-header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.page-content {
  transform: translate3d(0, 0, 0); /* without this, this spinner isn't positioned correctly? */
  position: relative;
  padding: 0 1em;
  overflow-x: hidden;
  overflow-y: auto;
  flex: 1 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-content > :first-child {
  margin-top: 1rem;
}
.page-content > :last-child {
  margin-bottom: 1rem;
}

.Page h1 {
  text-align: center;
  font-size: inherit;
  margin: 0;
}


.next-page-enter .page-content, .previous-page-enter .page-content,
.next-page-leave .page-content, .previous-page-leave .page-content {
  transition: all 700ms ease;
  transition-property: opacity, transform;
}

.next-page-enter .page-content, .previous-page-leave.previous-page-leave-active .page-content {
  transform: translate3d(100vw, 0, 0);
  opacity: 0;
}
.next-page-enter.next-page-enter-active .page-content, .previous-page-leave .page-content {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.next-page-leave .page-content, .previous-page-enter.previous-page-enter-active .page-content {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.next-page-leave.next-page-leave-active .page-content, .previous-page-enter .page-content {
  transform: translate3d(-100vw, 0, 0);
  opacity: 0;
  overflow-y: hidden;
}

.back-button, .next-button {
  cursor: pointer;
  width: 4rem;
  text-align: center;
  padding: 1em 0;
  font-size: smaller;
  font-weight: bold;
  color: #06c;
}
.back-button:active, .next-button:active {
  color: #0af;
}
.back-button::before, .next-button::after {
  content: ' ⟩';
  opacity: 0.5;
  font-size: 1.4rem;
  line-height: 1rem;
  position: relative;
  top: 0.1rem;
}
.back-button::before {
  content: '⟨ ';
}

.back-button.invisible, .next-button.invisible {
  visibility: hidden;
}

.back-button[disabled], .next-button[disabled] {
  pointer-events: none;
  opacity: 0.2;
  color: black;
}

.next-page-enter .page-header, .previous-page-enter .page-header,
.next-page-leave .page-header, .previous-page-leave .page-header {
  transition: all 200ms ease;
}

.next-page-enter .page-header, .previous-page-leave.previous-page-leave-active .page-header {
  opacity: 0;
}
.next-page-enter.next-page-enter-active .page-header, .previous-page-leave .page-header {
  opacity: 1;
}
.next-page-leave .page-header, .previous-page-enter.previous-page-enter-active .page-header {
  opacity: 1;
}
.next-page-leave.next-page-leave-active .page-header, .previous-page-enter .page-header {
  opacity: 0;
}


.next-page-leave, .previous-page-leave {
  pointer-events: none;
}


ul.WifiList {
  list-style: none;
  padding-left: 0;
  border: 1px solid black;
  max-height: 50vh;
  overflow-y: scroll;
  background: white;
}
ul.WifiList li {
  border: 1px solid #eee;
  padding: 0.5em 1em;
}

.PageSpinner img {
  opacity: 0.5;
  position: fixed;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  margin-top: -40px;
  margin-left: -40px;
}

.InlineSpinner {
  display: block;
  width: 80px;
  height: 80px;
  opacity: 0.5;
  margin: 2rem auto;
}

p.instruction {
  text-align: center;
  margin: 2rem 0;
}

.TutorialImage {
  display: block;
  max-height: 30vh;
  margin: 1rem auto;
}