:root {

}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html {
  font-family: 'Fira Sans';
  font-size: 18px;
  line-height: 1.4;
}

body {
  background: #f5f5f5;
  color: #222;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  user-select: none;
  overflow: hidden;
}

input {
  font-family: inherit;
  box-sizing: border-box;
  padding: 0.3rem;
}

.centered {
  text-align: center;
}

.Page section {
  padding: 0 1em;
}

.button {
  text-align: center;
  background: #49c;
  border: 0px none; /*1px solid var(--button-border);*/
  color: white;
  padding: 1rem 1rem;
  margin: 1rem 0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  &.small {
    padding: 0.5rem 1rem;
  }
}

.button:not(.secondary)[disabled] {
  opacity: 0.5;
  box-shadow: none;
}
.button:not(.secondary):active {
  background: #27a;
}

.button.secondary {
  background: #eee;
  border: 1px solid #aaa;
  color: #222;
}

@media (max-width: 480px) {
  .button, input {
    display: block;
  }
}

.Page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.page-header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;

  & h1 {
    text-align: center;
    font-size: inherit;
    margin: 0;
  }

  &.translucent {
    position: absolute;
    top: 0;
    width: 100%;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.6);
    z-index: 1;
  }

  & .back-button, & .next-button {
    cursor: pointer;
    width: 4rem;
    text-align: center;
    padding: 1em 0;
    font-size: smaller;
    font-weight: 300;
    color: #06c;
    &:active {
      color: #0af;
    }

    &.invisible {
      visibility: hidden;
    }

    &[disabled] {
      pointer-events: none;
      opacity: 0.2;
      color: black;
    }
  }
}

.page-content {
  transform: translate3d(0, 0, 0); /* without this, this spinner isn't positioned correctly? */
  position: relative;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
}

.next-page-enter .page-content, .previous-page-enter .page-content,
.next-page-leave .page-content, .previous-page-leave .page-content {
  transition: all 700ms ease;
  transition-property: opacity, transform;
}

.next-page-enter .page-content, .previous-page-leave.previous-page-leave-active .page-content {
  transform: translate3d(100vw, 0, 0);
  opacity: 0;
}
.next-page-enter.next-page-enter-active .page-content, .previous-page-leave .page-content,
.next-page-leave .page-content, .previous-page-enter.previous-page-enter-active .page-content {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.next-page-leave.next-page-leave-active .page-content, .previous-page-enter .page-content {
  transform: translate3d(-100vw, 0, 0);
  opacity: 0;
  overflow-y: hidden;
}

.next-page-enter .page-header, .previous-page-enter .page-header,
.next-page-leave .page-header, .previous-page-leave .page-header {
  transition: all 200ms ease;
}

.next-page-enter .page-header, .previous-page-leave.previous-page-leave-active .page-header,
.next-page-leave.next-page-leave-active .page-header, .previous-page-enter .page-header {
  opacity: 0;
}
.next-page-enter.next-page-enter-active .page-header, .previous-page-leave .page-header,
.next-page-leave .page-header, .previous-page-enter.previous-page-enter-active .page-header {
  opacity: 1;
}

.next-page-enter, .next-page-leave, .previous-page-enter, .previous-page-leave {
  pointer-events: none;
}

.InlineSpinner {
  display: block;
  width: 80px;
  height: 80px;
  opacity: 0.5;
  margin: 2rem auto;
}

.instruction {
  text-align: center;
}

.detail {
  font-size: smaller;
  color: #666;
}

.TutorialImage {
  display: block;
  max-height: 30vh;
  margin: auto;
}


ul.WifiList {
  list-style: none;
  padding-left: 0;
  border: 1px solid black;
  max-height: 50vh;
  overflow-y: scroll;
  background: white;
}
ul.WifiList li {
  border: 1px solid #eee;
  padding: 0.5em 1em;
}

.gps-pin {
  position: absolute;
  top: calc(50% - 0.5rem);
  left: calc(50% - 0.5rem);
  width: 0.5rem;
  height: 0.5rem;
  background: rgba(0, 150, 255, 1);
  border-radius: 50%;
  z-index: 11;
}

.gps-pin::after {
  content: '';
  border-radius: 50%;
  background: rgba(0, 150, 255, 1);
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;

  animation: pulsate 3s ease-out;
  animation-iteration-count: infinite;
  opacity: 0.0
}
@keyframes pulsate {
    0% { transform: scale(1); opacity: 0.0; }
    50% { opacity: 0.2; }
    100% { transform: scale(5); opacity: 0.0; }
}

.gps-control {
  background-color: #fff;
  box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  margin-right: 10px;
  & img {
    width: 14px;
    height: 14px;
    padding: 7px 8px 2px 6px;
    opacity: 0.55;
  }
}

.gps-control.following {
  background-color: #cef;
  & img {
    opacity: 1;
  }
}
